[agent]
name = "agent1"
workers = 32
state_index = "state"

[api]
address = "0.0.0.0"
port = 7900
workers = 1
ident = "deeptrace"


[sender]
batch_size = 1024

[sender.flat_file]
mem_buffer_size = 16
file_buffer_size = 32
file_size_limit = 1024

[sender.elastic]
node_url = "http://0.0.0.0:9200"
username = "username"
password = "password"
request_timeout = 10
index_name = "agent1"
bulk_size = 1024

[trace]
pids = [1, 2, 3]

[provenance]
pids = []
